@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App{
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Neucha", cursive;
  align-items: center;
  background-color: #252E40;
  color: #F2F2F2;
}

.Header{
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px){
  .Header{
    margin: 15px 0;
    font-size: 30px;
  }
  .input{
    width: 80%;
  }
  .short-url{
    width: 95%;
  }
  .short_url_card{
    width: 100%;
  }
}

.input{
  display: flex;
  width: 60%;
  position: relative;
  align-items: center;
}

.input-field{
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #F2F2F2;
  transition: 0.2s;
  box-shadow: inset 0 0 5px #000000;
}

.input-field:focus{
  box-shadow: 0 0 10px 1000px black;
  outline: none;
}

.submit-button{
  position: absolute;
  width: 80px;
  height: 50px;
  margin: 12px;
  border-radius: 5px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 5px #000000;
}

.submit-button:hover{
  background-color: #2f74c0;
  cursor: pointer;
}

.submit-button:active{
  transform: scale(0.8);
  box-shadow: 0 0 5px #000000;
}

.short-url{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 50px;
}

.short_url_card{
  display: flex;
  width: 60%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  background-color: #2f74c0;
}

.short_url_card--text{
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.short_url_card--text:focus{
  outline: none;
}

.icon{
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.Footer{
  color: #F2F2F2;
  margin-top: auto;
}
